@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.navbar {
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid black;
}

.navbar-brand {
  font-size: 2rem;
}

.login-header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.login-form {
  padding-top: 4rem;
  text-align: center;
  justify-content: center;
}

.username-field,
.password-field {
  margin-top: 1rem;
  border-radius: 1rem;
  text-align: center;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.username-field:focus,
.password-field:focus {
  border: 2px solid rgba(0, 0, 0, 0.18);
}

.login-btn-group {
  margin-top: 1.5rem;
}

.login-form {
  background-color: #ffffff;
  width: 700px;
  height: 350px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 10px 35px 2px rgba(0, 0, 0, 0.1);
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
