@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.navbar {
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid black;
}

.navbar-brand {
  font-size: 2rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.colour-palette {
  text-align: center;
  padding-top: 3rem;
}

.exterior-colour-btn-group {
  padding-top: 1rem;
}

.interior-colour-btn-group {
  padding-top: 1rem;
}

.colour-btn {
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 50%;
}

.colour-btn:hover {
  border: 2px black solid;
}

.blue-ext-btn {
  background-color: #212c3c;
}

.grey-ext-btn {
  background-color: #605d61;
}

.red-ext-btn {
  background-color: #6d1312;
}

.silver-ext-btn {
  background-color: #d0cfd1;
}

.white-ext-btn {
  background-color: #eeedee;
}

.beige-int-btn {
  background-color: #e7d9d0;
}

.black-int-btn {
  background-color: #292728;
}

.red-int-btn {
  background-color: #d33431;
}

.hidden {
  display: none;
}
